<module>
    <rawname>motif</rawname>
    <name>Google Voice/Chan Motif</name>
    <publisher>Andrew Nagy</publisher>
    <license>GPLv2+</license>
    <type>setup</type>
    <repo>unsupported</repo>
    <category>Connectivity</category>
	<version>2.11.5</version>
    <description>
        Manage Google Voice Trunks with Chan Motif
    </description>
    <changelog>
        *2.11.5* Fixes #6355
        *2.11.4* Fixes #6328 outbound routes
        *2.11.1* Remove beta status. Fixes #6326, #6318
        *2.11.0beta2* Redefined routes. Added route to google voicemail option. Fixes #6065, #6066, #6067
        *2.11.0beta1* Fixed Multiple Inbound Accounts DID Issue
    </changelog>
    <depends>
        <engine>asterisk 11</engine>
        <module>core</module>
    </depends>
    <menuitems>
        <motif>Google Voice [Motif]</motif>
    </menuitems>
    <location>release/2.11/motif-2.11.5.tgz</location>
    <md5sum>56720ffed82d41f4d50f9ac3c2067a6e</md5sum>
<supported><version>2.11</version></supported></module>
