<module>
    <rawname>motif</rawname>
    <name>Google Voice/Chan Motif</name>
    <publisher>Andrew Nagy</publisher>
    <license>GPLv2+</license>
    <type>setup</type>
<repo>unsupported</repo>
    <category>Connectivity</category>
	<version>2.11.0.alpha9</version>
    <description>
        Manage Google Voice Trunks with Chan Motif
    </description>
    <changelog></changelog>
    <depends>
        <engine>asterisk 11</engine>
        <module>core</module>
    </depends>
    <menuitems>
        <motif>Google Voice [Motif]</motif>
    </menuitems>
    <location>contributed_modules/release/motif-2.11.0.alpha3.tgz</location>
    <md5sum>0abc055b732a0019848c63667c97f9fd</md5sum>
</module>
