<module>
	<rawname>motif</rawname>
	<name>Google Voice/Chan Motif</name>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<type>setup</type>
	<repo>unsupported</repo>
	<category>Connectivity</category>
	<version>13.0.3</version>
	<description>
		Manage Google Voice Trunks with Chan Motif
	</description>
	<changelog>
		*13.0.3* Fix issue in PBX less than 15
		*13.0.2* Packaging of ver 13.0.2
		*13.0.1* Support for OAuth
	</changelog>
	<depends>
		<engine>asterisk 13</engine>
		<module>sipsettings</module>
	</depends>
	<menuitems>
		<motif>Google Voice (Motif)</motif>
	</menuitems>
	<supported>
		<version>13.0</version>
	</supported>
</module>
